script
    include ../public/javascripts/lib/jquery-1.11.0.min.js
    include ../public/javascripts/lib/paperjs/dist/paper-full.js
    include ../public/javascripts/lib/FileSaver.js
    include ../public/javascripts/onBoard.js
    include ../public/javascripts/dataStruct.js
    include ../public/javascripts/globalVar.js
    include ../public/javascripts/utils.js
    include ../public/javascripts/line.js
    include ../public/javascripts/tool.js
    include ../public/javascripts/drawImg.js
    include ../public/javascripts/loadDir.js
